.h2 {
    display: flex;
    align-items: center;
    padding: 0px 0px 20px;
    gap: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin: 0;
}

.images-views {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    gap: 10px;
    justify-content: space-around;
}

.images-views__photo {
    height: 387px;
}

@media (max-width:1499px) {
    
    
    .images-views__photo {
        height: 272px; 
    }
}

@media (max-width:1023px) {
    
    .images-views__photo {
        height: 272px; 
    }
}