.footer-background {
    background-color: #F2F2F2;
    width: 100%;
    margin: 130px 0 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding: 30px 0;
    background-color: transparent;
    width: 1400px;
    /* margin: 0 auto; */
    flex:1 1 auto;

}

.footer-item {
    display: flex;
    gap: 4px;
}

.footer-link-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:1499px) {
    
    .footer {
       margin-top: 200px;
    }
    
}

@media (max-width:1023px) {
    
    .footer {
        margin-top: 200px;
     }
}
