.heading-background {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    margin: 0;
    background: rgb(233, 240, 246);
    box-shadow: 0 2px 9px 0px rgba(0, 0, 0, 0.2);
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    width: 1400px;
    max-height: 80px;
    box-sizing: border-box;
}

.heading__name {
    display: flex;
}

.heading__logo {
    padding-right: 7px;
    padding-top: 17px;
}

.heading__text {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    padding: 0;
    margin-top: 18px;
    margin-bottom: 9px;
}

.heading__text_color {
    color: #FF5722;
}

.heading-container {
    display: flex;
    height: 100%;
    max-width: 100px;
    position: relative;
}

.cart-img-1 {
    width: 41px;
    height: 39px;
    position: relative;
    right: 28px;
}

.cart-img-2 {
    width: 43px;
    height: 34px;
    position: relative;
    right: 0px;
}

.cart-number-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F36223;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background: #F36223;
    box-sizing: border-box;
    right: 45px;
    z-index: 1;
}

.cart-number-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F36223;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background: #F36223;
    box-sizing: border-box;
    z-index: 1;
}

.hidden {
    display: none;
}

@media (max-width:1499px) {
    
    .cart-number-1 {
        right: 25px;
    }
}

@media (max-width:1023px) {
    
    .cart-number-1 {
        right: 18px;;
    }
}
