html {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0 auto;
    background: #F8FAFE;
    width: 100%;
}

.container{
    position: relative;
    /* width: 100%; */
    width: 1400px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    box-sizing: border-box;

}


