.form {
    width: 880px;
    margin-top: 4px;
    margin-bottom: 100px;
    font-size: 16px;
    display: flex;

}

.form__column_left {
    width: 170px;
}
.form__column_right {
    width: 280px;
}
input::placeholder {
    color: #888888;
    font-size: 16px;
}
.form__row_first {
    display: flex;
    flex-wrap: wrap;
    width: 880px;
    justify-content:flex-start;
}
.row-first-name {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 0px;
    width: 60%;   
}
.form__name {
    box-sizing: border-box;
    padding: 15px 20px;
    width: 495px;
    height: 49px;
    border: 1px solid #888888;
    font-size: 16px;
    background-color: transparent; 
    margin-right: 40px;
}
.form__name_error {
    display: flex;
    justify-content: flex-start;
    width: 495px;
    box-sizing: border-box;
    font-size: 12px;
    color: white;
    background-color: #DA4A0C;
    padding: 8px 20px;

}
.form__name_noterror {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 100%;
}
.row-first-mark {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 0px;
    width: 40%;
}
.form__mark {
    box-sizing: border-box;
    padding: 15px 20px;
    width: 175px;
    height: 49px;
    font-size: 16px;
    border: 1px solid #888888;
    background-color: transparent;
}
.form__mark_error {
    display: flex;
    justify-content: flex-start;
    width: 175px;
    box-sizing: border-box;
    font-size: 12px;
    color: white;
    background-color: #DA4A0C;
    padding: 8px 20px;
}
.form__mark_noterror {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 100%;
}

.form__row_second {
    margin-bottom: 30px;
}

.form__textarea {
    box-sizing: border-box;
    padding: 15px 20px;
    width: 700px;
    height: 190px;
    border: 1px solid #888888;
    font-size: 16px;
    font-family:sans-serif;
    resize: none;
    background-color: transparent;
}
input:focus,
input:hover,
textarea:focus,
textarea:hover {
    border: 1px solid #000000;
}
.form__add-btn {
    width: 177px;
    height: 36px;
    padding: 1px 0px;
    background: #F36223;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
}
.form__add-btn_gray {
    background-color: #888888;
}
.form__add-btn:hover {
    background: #DA4A0C;
}
.form__add-btn:active,
.form__add-btn:focus {
    background: #A93A09;
}


@media screen and (max-width: 1024px) {
    .form {
        width: 594px;
    }
    .form__name {
        width: 379px;
    }
    .form__grade {
        width: 175px;
    }
    .form__textarea {
        width: 594px;
    }
}
