.product-configuration__button {
    padding: 10px 20px;
    border: 2px solid transparent;
    outline: 1px solid #888888;
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.selected {
    
    border: 2px solid transparent;
    outline: 2px solid #F36223;
}

.product-configuration__button:hover,
.product-configuration__button_selected:hover {
    background-color: #F2F2F2;
}

.product-configuration__button:active,
.product-configuration__button_selected:active {
    border: 2px solid transparent;
    outline: 2px solid #A93A09;
    border-radius: 4px;
    box-sizing: border-box;
}

