.product-configuration {
    display: flex;
    flex-direction: column;
}

.product-configuration__name {
    margin: 0px;
    padding: 0px;
}

.product-configuration__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    height: 39px;
    box-sizing: border-box;
}