.product-characteristics {
    display: flex;
    flex-direction: column;
}

.product-characteristics__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px;
    list-style-image: url(marker.svg);
    padding-left: 20px;
}

.characteristic-item {
    display: flex;
    gap: 4px;
    height: 100%;
}
