.mainpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    height: 475px;
    width: 1400px;
    margin: auto;
    text-align: center;
    

}

.text {
    width: 453px;
    height: 57px;
    font-weight: 400;
    line-height: 19px;
    
    
}

.link {
    text-decoration: none;
    color: #008CF0;
}

@media (max-width: 1499px) {
    .container-mainpage {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .container-mainpage {
        width: 994px;
    }
}