.product-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    gap: 100px;
    position: relative;
    z-index: 0;
}

.product-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    order: 0;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 31px;
    margin-bottom: 30px;
}

@media (max-width:1499px) {
    
    .product-information {
        width: 594px;
    }
}

@media (max-width:1023px) {
    
    .product-information {
        width: 338px;
    }
}













